# Exploratory Data Analysis for the Physical Properties of Lakes

This lesson was adapted from educational material written by [Dr. Kateri Salk](https://www.hydroshare.org/user/4912/) for her Fall 2019 Hydrologic Data Analysis course at Duke University. This is the first part of a two-part exercise focusing on the physical properties of lakes.

## Introduction

Lakes are dynamic, nonuniform bodies of water in which the physical, biological, and chemical properties interact. Lakes also contain the majority of Earth's fresh water supply. This lesson introduces exploratory data analysis in the context of the physical properties of lakes.

## Learning Objectives

After successfully completing this exercise, you will be able to:

1. Apply exploratory data analytics skills to applied questions about physical properties of lakes

## Requirements to Complete Lesson

### Packages
This lesson requires the installation of the following R packages to run the provided script:
- `tidyverse`- Version 1.3.0. A collection of R packages designed for data science.
- `lubridate`- Version 1.7.9. Functions for working with dates/times.

### Data and Code

The input files are made available to you in a public folder. 

This lesson also requires the dataset <span style="color:blue">NTER-LTER_Lake_ChemistryPhysics_Raw.csv. </span><br> 

The dataset used in this lesson contains data from studies on several lakes in the North Temperate Lakes District in the state of Wisconsin. The data were collected as part of the Long Term Ecological Research station created by the National Science Foundation.  More information can be found here: https://lter.limnology.wisc.edu/about/overview.

The code provided in this resource was developed using R version 3.6.1.

### Set Working Directory

In R, the working directory is the directory where R starts when looking for any file to open (as directed by a file path) and where it saves any output. This lesson assumes that you have set your working directory to the folder location of the downloaded and unzipped data subsets.

### Load Packages

In [2]:
options(warn=-1)

library(tidyverse)
library(lubridate)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✓ ggplot2 3.3.3     ✓ purrr   0.3.4
✓ tibble  3.0.5     ✓ dplyr   1.0.3
✓ tidyr   1.1.2     ✓ stringr 1.4.0
✓ readr   1.4.0     ✓ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

### Load Data

In [3]:
NTLdata <- read.csv("NTL-LTER_Lake_ChemistryPhysics_Raw.csv")

## Data Wrangling and Exploration

The purpose of this section is to perform exploratory data analysis to investigate the structure of the provided dataset.

## `NTLdata`

To create a spreadsheet-style data viewer on a matrix-like R object, simply execute the name of the dataframe.

In [4]:
NTLdata

      lakeid lakename     year4 daynum sampledate depth temperature_C
1     L      Paul Lake    1984  148    5/27/84     0.00 14.5
2     L      Paul Lake    1984  148    5/27/84     0.25   NA
3     L      Paul Lake    1984  148    5/27/84     0.50   NA
4     L      Paul Lake    1984  148    5/27/84     0.75   NA
5     L      Paul Lake    1984  148    5/27/84     1.00 14.5
6     L      Paul Lake    1984  148    5/27/84     1.50   NA
7     L      Paul Lake    1984  148    5/27/84     2.00 14.2
8     L      Paul Lake    1984  148    5/27/84     3.00 11.0
9     L      Paul Lake    1984  148    5/27/84     4.00  7.0
10    L      Paul Lake    1984  148    5/27/84     5.00  6.1
11    L      Paul Lake    1984  148    5/27/84     6.00  5.5
12    L      Paul Lake    1984  148    5/27/84     7.00  5.0
13    L      Paul Lake    1984  148    5/27/84     8.00  4.5
14    L      Paul Lake    1984  148    5/27/84     9.00  4.5
15    L      Paul Lake    1984  148    5/27/84    10.00  4.5
16    L      Paul Lake    1984  148    5/27/84    11.00  4.5
17    L      Paul Lake    1984  148    5/27/84    12.00  4.5
18    R      Peter Lake   1984  149    5/28/84     0.00 14.8
19    R      Peter Lake   1984  149    5/28/84     0.25   NA
20    R      Peter Lake   1984  149    5/28/84     0.50   NA
21    R      Peter Lake   1984  149    5/28/84     0.75   NA
22    R      Peter Lake   1984  149    5/28/84     1.00 14.8
23    R      Peter Lake   1984  149    5/28/84     1.50   NA
24    R      Peter Lake   1984  149    5/28/84     2.00 14.8
25    R      Peter Lake   1984  149    5/28/84     3.00 12.3
26    R      Peter Lake   1984  149    5/28/84     4.00  8.2
27    R      Peter Lake   1984  149    5/28/84     5.00  7.0
28    R      Peter Lake   1984  149    5/28/84     6.00  5.9
29    R      Peter Lake   1984  149    5/28/84     7.00  4.5
30    R      Peter Lake   1984  149    5/28/84     8.00  4.0
⋮     ⋮      ⋮            ⋮     ⋮      ⋮          ⋮     ⋮
38585 L      Paul Lake    2016  229    8/16/16     5.00 12.6
38586 L      Paul Lake    2016  229    8/16/16     5.50 10.6
38587 L      Paul Lake    2016  229    8/16/16     6.00  9.0
38588 L      Paul Lake    2016  229    8/16/16     6.50  7.5
38589 L      Paul Lake    2016  229    8/16/16     7.00  6.7
38590 L      Paul Lake    2016  229    8/16/16     8.00  5.9
38591 L      Paul Lake    2016  229    8/16/16     9.00  5.5
38592 L      Paul Lake    2016  229    8/16/16    10.00  5.4
38593 L      Paul Lake    2016  229    8/16/16    11.00  5.4
38594 L      Paul Lake    2016  229    8/16/16    12.00  5.3
38595 T      Tuesday Lake 2016  230    8/17/16     0.00 24.1
38596 T      Tuesday Lake 2016  230    8/17/16     0.25   NA
38597 T      Tuesday Lake 2016  230    8/17/16     0.50 23.7
38598 T      Tuesday Lake 2016  230    8/17/16     0.75   NA
38599 T      Tuesday Lake 2016  230    8/17/16     1.00 23.5
38600 T      Tuesday Lake 2016  230    8/17/16     1.50 23.3
38601 T      Tuesday Lake 2016  230    8/17/16     2.00 21.8
38602 T      Tuesday Lake 2016  230    8/17/16     2.50 18.4
38603 T      Tuesday Lake 2016  230    8/17/16     3.00 14.3
38604 T      Tuesday Lake 2016  230    8/17/16     3.50 10.1
38605 T      Tuesday Lake 2016  230    8/17/16     4.00  7.9
38606 T      Tuesday Lake 2016  230    8/17/16     4.50  6.3
38607 T      Tuesday Lake 2016  230    8/17/16     5.00  5.4
38608 T      Tuesday Lake 2016  230    8/17/16     5.50  4.9
38609 T      Tuesday Lake 2016  230    8/17/16     6.00  4.6
38610 T      Tuesday Lake 2016  230    8/17/16     6.50  4.4
38611 T      Tuesday Lake 2016  230    8/17/16     7.00  4.3
38612 T      Tuesday Lake 2016  230    8/17/16     8.00  4.3
38613 T      Tuesday Lake 2016  230    8/17/16     9.00  4.3
38614 T      Tuesday Lake 2016  230    8/17/16    10.00  4.3
      dissolvedOxygen irradianceWater irradianceDeck comments
1      9.5            1750.0          1620           NA
2       NA            1550.0          1620           NA
3       NA            1150.0          1620           NA
4       NA             975.0          1620           NA
5      8.8             870.0          1620           NA
6       NA             610.0          1620           NA
7      8.6             420.0          1620           NA
8     11.5             220.0          1620           NA
9     11.9             100.0          1620           NA
10     2.5              34.0          1620           NA
11     1.6               7.6          1620           NA
12     0.4               1.3          1610           NA
13     0.3                NA            NA           NA
14     0.3                NA            NA           NA
15     0.3                NA            NA           NA
16     0.3                NA            NA           NA
17     0.3                NA            NA           NA
18     9.2            1630.0          1540           NA
19      NA            1530.0          1540           NA
20      NA            1250.0          1540           NA
21      NA            1050.0          1540           NA
22     8.8             890.0          1540           NA
23      NA             660.0          1540           NA
24     8.9             500.0          1540           NA
25    11.4             250.0          1540           NA
26    11.5             110.0          1540           NA
27    11.0              70.0          1540           NA
28     8.6              33.0          1540           NA
29     0.8              17.5          1540           NA
30     0.3               8.5          1540           NA
⋮     ⋮               ⋮               ⋮              ⋮
38585 1.8               12.800         668           NA
38586 0.3                6.550         639           NA
38587 0.1                1.930         627           NA
38588 0.0                   NA          NA           NA
38589 0.0                   NA          NA           NA
38590 0.0                   NA          NA           NA
38591 0.0                   NA          NA           NA
38592 0.0                   NA          NA           NA
38593 0.0                   NA          NA           NA
38594 0.0                   NA          NA           NA
38595 6.6             1113.000        1049           NA
38596  NA              749.400        1045           NA
38597 6.4              471.900        1041           NA
38598  NA              327.900        1012           NA
38599 6.2              233.300        1026           NA
38600 5.7              100.900        1028           NA
38601 1.6               53.210        1018           NA
38602 0.2               19.750        1027           NA
38603 0.3                8.128        1037           NA
38604 0.1                3.187        1016           NA
38605 0.1                1.080        1018           NA
38606 0.1                   NA          NA           NA
38607 0.1                   NA          NA           NA
38608 0.1                   NA          NA           NA
38609 0.0                   NA          NA           NA
38610 0.0                   NA          NA           NA
38611 0.0                   NA          NA           NA
38612 0.0                   NA          NA           NA
38613 0.0                   NA          NA           NA
38614 0.0                   NA          NA           NA

## Date Formatting

### `class`

 Use the `class` function to print the vector of names of classes an object inherits from.

In [19]:
class(NTLdata$sampledate)

[1] "character"

The results indicate that the `sampledate` column of the NTLdata dataframe is a factor.

### `as.Date`

Use the `as.Date` function to convert a string to a date.

In [20]:
NTLdata$sampledate <- as.Date(NTLdata$sampledate, "%m/%d/%y")

In [21]:
# Check the class of the sampledate column now 
class(NTLdata$sampledate)

[1] "Date"

## Addressing NA's

### `dim`

Use the `dim` function to retrieve the dimensions of an object.

In [22]:
dim(NTLdata)

[1] 38614    11

### `drop_na`

Use the `drop_na` function to drop any rows containing missing Temperature values.

In [23]:
NTLdata <- NTLdata %>%
  drop_na(temperature_C)

In [24]:
# Check the dimensions of the main data frame now
dim(NTLdata)

[1] 34756    11

### `summary`

Use the `summary` function to compute summary statistics of data and model objects. In this lesson, we will use `summary` to determine how many observations are present for each lake.

In [25]:
summary(NTLdata$lakename)

   Length     Class      Mode
    34756 character character

## Subsetting and Filtering

### `filter`

Use the `filter` function to choose rows/cases where conditions are true. In this lesson, we will use `filter` to select the three lakes with the most observations.

In [26]:
NTLdata <- NTLdata %>%
  filter(lakename %in% c("Paul Lake", "Peter Lake", "Tuesday Lake"))

In [27]:
## You could also filter the data frame using this notation to get the same results
NTLdata <- NTLdata %>%
  filter(lakename == "Paul Lake" | lakename == "Peter Lake" | 
           lakename == "Tuesday Lake")

### Create three separate data frames for each lake

In [28]:
Pauldata <- filter(NTLdata, lakename == "Paul Lake")
Peterdata <- filter(NTLdata, lakename == "Peter Lake")
Tuesdaydata <- filter(NTLdata, lakename == "Tuesday Lake")

### Determine the beginning and end dates of each lake's period of record

### `min` and `max`

Use the `min` and `max` functions to return the minimum and maximum values of a numeric vector or column.

In [29]:
min(Pauldata$sampledate)
max(Pauldata$sampledate)
min(Peterdata$sampledate)
max(Peterdata$sampledate)
min(Tuesdaydata$sampledate)
max(Tuesdaydata$sampledate)

[1] "1984-05-27"

[1] "2016-08-16"

[1] "1984-05-28"

[1] "2016-08-15"

[1] "1984-05-29"

[1] "2016-08-17"

### Determine the unique depth values (meters) sampled in each lake

### `unique`

Use the `unique` function to extract unique elements by removing duplicate elements/rows from a vector, data frame or array.

In [30]:
unique(Pauldata$depth)
unique(Peterdata$depth)
unique(Tuesdaydata$depth)

 [1]  0.0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0 10.0 11.0 12.0  0.5  1.5
[16]  2.5  3.5 20.0  4.5  5.5  6.5  7.5 11.5 13.0  8.5  9.5

 [1]  0.00  1.00  2.00  3.00  4.00  5.00  6.00  7.00  8.00  9.00 10.00 11.00
[13] 12.00 13.00 14.00 15.00 16.00 17.00  0.50  1.50  2.50  3.50  4.50  5.50
[25]  6.50  7.50  8.50  0.75

 [1]  0.0  1.0  1.5  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0 10.0 12.0  0.5  2.5
[16]  3.5 14.0 16.0 15.0 13.0 11.0  4.5  5.5  6.5